<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310754939872-98cvcn2p5493l67l9gblp1m9rnt8fovt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310754939872-98cvcn2p5493l67l9gblp1m9rnt8fovt</string>
	<key>API_KEY</key>
	<string>AIzaSyBlxyn_NQTFeSFqhjoX2kMIo81XLemd1T0</string>
	<key>GCM_SENDER_ID</key>
	<string>310754939872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mujhackathon</string>
	<key>PROJECT_ID</key>
	<string>muj-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>muj-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310754939872:ios:2ebccb5abf0c70f9ec9185</string>
</dict>
</plist>